.button {
   cursor: pointer;
   padding: spacing(sm) spacing(md);
   display: inline-flex;
   gap: spacing(xs);
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid transparent;
   border-radius: $rounded;
   background-color: $color-primary;
   color: $color-white;
   transition: color $transition, background-color $transition,
      border-color $transition, box-shadow $transition;
   box-shadow: shadow(3);
   font-weight: $font-bold;
   outline: none;
   font-size: 1.8rem;
   min-width: 20rem;

   &:hover {
      background-color: $color-primary-dark;
      color: $color-white;
      box-shadow: shadow(2);
   }

   &:active {
      box-shadow: shadow(1);
   }

   &--alt {
      background-color: $color-black;
      border-color: $color-grey-darker;
      color: $color-white;

      &::after {
         content: none;
      }

      &:hover {
         background-color: $color-black;
         border-color: $color-secondary;
      }
   }

   i {
      font-size: 1.8rem;
      margin-left: spacing(sm);
   }
}

.loading-spinner {
   &__inner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;

      &::after {
         content: ' ';
         display: block;
         width: 3.25rem;
         height: 3.25rem;
         margin: 8px;
         border-radius: 50%;
         border: 4px solid $color-white;
         border-color: $color-white transparent $color-white transparent;
         animation: spin 1.2s linear infinite;
      }
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

