.project-card {
   display: flex;
   align-items: center;
   padding: spacing(xxxl) 0;

   @include screen(sm) {
      flex-direction: column;
   }

   &:nth-child(even) {
      flex-direction: row-reverse;

      @include screen(sm) {
         flex-direction: column;
      }

      .project-card__image {
         margin: 0 0 0 spacing(md);

         @include screen(sm) {
            margin: 0 0 spacing(lg);
         }
      }
   }

   &__image {
      flex: 1;
      margin: 0 spacing(md) 0 0;

      @include screen(sm) {
         height: 30rem;
         width: 100%;
         margin: 0 0 spacing(lg);
      }
   }

   &__content {
      flex: 1;
   }

   &__subtitle {
      font-weight: $font-light;
      color: $color-grey-light;
   }

   &__info {
      line-height: 1.6;
      list-style: none;
      margin: spacing(sm) 0 spacing(lg);
   }

   &__info-item {
      display: flex;
      align-items: center;
      width: max-content;
   }

   &__icon-label {
      margin-right: spacing(xs);
      color: rgba($color-secondary, 0.5);
   }

   &__description {
      margin-bottom: spacing(lg);

      p {
         margin-bottom: spacing(sm);
      }
   }
}
