.project-card {
   display: flex;
   align-items: center;
   padding: spacing(xxxl) 0;

   &:nth-child(even) {
      flex-direction: row-reverse;

      .project-card__image {
         margin-right: 0;
         margin-left: spacing(md);
      }
   }

   &__image {
      flex: 1;
      margin-right: spacing(md);

      img {
         filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
      }
   }

   &__content {
      flex: 1;
   }

   &__subtitle {
      font-weight: $font-light;
      color: $color-grey-light;
   }

   &__info {
      line-height: 1.6;
      list-style: none;
      margin: spacing(sm) 0 spacing(lg);
   }

   &__info-item {
      width: max-content;
   }

   &__icon-label {
      margin-right: spacing(xs);
      color: rgba($color-secondary, 0.5);
   }

   &__description {
      margin-bottom: spacing(lg);

      p {
         margin-bottom: spacing(sm);
      }
   }
}
