*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;

   @include screen(md) {
      font-size: 59.25%;
   }

   @include screen(sm) {
      font-size: 56%;
   }

   @include screen(xs) {
      font-size: 52.75%;
   }

   @include screen(xxs) {
      font-size: 50%;
   }
}

body {
   font-size: 1.6rem;
   color: $color-white;
   background-color: $color-black;
   overflow-y: scroll;
   overflow-x: hidden;
}

.wrapper {
   padding: 0 spacing(lg);

   @include screen(sm) {
      padding: 0 spacing(sm);
   }
}

img {
   max-width: 100%;
   vertical-align: bottom;
}

a {
   text-decoration: none;

   &:focus,
   &:hover,
   &:active {
      outline: 0;
   }
}

::selection {
   background: $color-dark-grey;
   color: $color-white;
   text-shadow: none;
}

::-webkit-selection {
   background: $color-dark-grey;
   color: $color-white;
   text-shadow: none;
}

::-moz-selection {
   background: $color-dark-grey;
   color: $color-white;
   text-shadow: none;
}
