// Spacing
$unit: 0.4rem;

$spacing-values: (
   xxxs: $unit / 2,
   xxs: $unit,
   xs: $unit * 2,
   sm: $unit * 4,
   md: $unit * 6,
   lg: $unit * 8,
   xl: $unit * 12,
   xxl: $unit * 16,
   xxxl: $unit * 24,
);

@function spacing($variant: base) {
   $value: map-get($spacing-values, $variant);

   @if $value == null {
      @error "Spacing variant `#{$variant}` not found.";
   }

   @return $value;
}

// Shadows
@function shadow($level: 1) {
   @if $level == 1 {
      @return 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   }
   @if $level == 2 {
      @return 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   }
   @if $level == 3 {
      @return 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.12);
   }
   @if $level == 4 {
      @return 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
   }
   @if $level == 5 {
      @return 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
   }
}
