// Spacing Utilities
@each $size, $value in $spacing-values {
   .mt-#{$size} {
      margin-top: $value !important;
   }

   .mr-#{$size} {
      margin-right: $value !important;
   }

   .mb-#{$size} {
      margin-bottom: $value !important;
   }

   .ml-#{$size} {
      margin-left: $value !important;
   }

   .pt-#{$size} {
      margin-top: $value !important;
   }

   .pr-#{$size} {
      margin-right: $value !important;
   }

   .pb-#{$size} {
      margin-bottom: $value !important;
   }

   .pl-#{$size} {
      margin-left: $value !important;
   }
}
