// Colors
$color-primary: #5cd2b9;
$color-primary-hover: #1fb393;

// Shades
$color-black: #2e2e2e;
$color-dark-grey: #616161;
$color-medium-grey: #9b9b9b;
$color-light-grey: #bdbdbd;
$color-white: #ffffff;

// Fixed values
$header-height: 10rem;
