.button {
   padding: spacing(sm) spacing(md);
   display: inline-block;
   text-align: center;
   border: 2px solid transparent;
   border-radius: 2px;
   background-color: $color-white;
   color: $color-black;
   font-weight: 700;
   transition: color 0.3s, background-color 0.3s, border-color 0.3s;

   &:hover {
      background-color: $color-primary;
      color: $color-white;
   }

   &--alt {
      background-color: $color-black;
      border-color: $color-white;
      color: $color-white;

      &:hover {
         background-color: transparent;
         border-color: $color-primary;
         color: $color-primary;
      }
   }
}
