.about {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: spacing(xl);
   align-items: start;
   padding: spacing(lg) 0;

   &__sidebar {
      position: sticky;
      top: spacing(xl);
      display: flex;
      flex-direction: column;
      gap: spacing(md);
   }

   &__image {
      width: 100%;
      overflow: hidden;
      border-radius: $rounded-lg;
      border: 3px solid $color-grey-lightest;
      box-shadow: shadow(3);
   }

   &__button-area {
      display: flex;
      flex-direction: column;
      gap: spacing(sm);
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: spacing(md);
   }
}

