.contact {
   visibility: hidden;

   &__body-text {
      color: $color-grey-lighter;
      margin: spacing(sm) 0 spacing(xl) 0;
   }

   &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   &__cell {
      display: block;
      width: 100%;

      &:not(:last-child) {
         margin-bottom: spacing(sm);
      }
   }

   &__label {
      display: block;
      margin: 0 0 spacing(xs) spacing(xs);
      color: $color-grey-dark;
   }

   &__input {
      width: 100%;
      font-weight: $font-medium;
      display: block;
      background-color: $color-grey-darkest !important;
      outline: none;
      padding: spacing(xs);
      border-radius: $rounded;
      border: 2px solid transparent;
      font-size: 2.4rem;
      color: $color-white;
      resize: none;
      transition: border-color $transition;
      box-shadow: shadow(2);

      &:focus {
         border-color: $color-secondary;
         box-shadow: shadow(1);
      }
   }

   &__submit {
      margin-top: spacing(sm);
   }

   &__submit-message {
      color: $color-grey-lighter;
      font-size: 1.8rem;
      margin-top: spacing(sm);
   }
}

