.home {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   visibility: hidden;

   &__title {
      margin-bottom: spacing(sm);
      line-height: 1.2;

      span {
         display: block;

         @include screen(sm) {
            display: inline;
         }
      }
   }

   &__body {
      font-size: 2.4rem;
      margin-bottom: spacing(lg);

      span {
         display: block;

         @include screen(sm) {
            display: inline;
         }
      }
   }

   &__body-link {
      text-decoration: underline;
      color: $color-secondary;

      &:hover {
         color: $color-secondary-dark;
      }
   }

   &__button-area {
      width: 100%;
   }

   &__button {

      &:not(:last-child) {
         margin-right: spacing(sm);

         @include screen(sm) {
            margin: 0 0 spacing(sm);
         }
      }

      @include screen(sm) {
         display: block;
      }
   }

   @include screen(sm) {
      align-items: flex-start;
      text-align: left;
   }
}
