.home {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   visibility: hidden;

   &__title {
      margin-bottom: spacing(sm);
      line-height: 1.2;

      span {
         display: block;

         @include screen(sm) {
            display: inline;
         }
      }
   }

   &__body {
      font-size: 2.2rem;
      margin-bottom: spacing(lg);

      span {
         display: block;

         @include screen(sm) {
            display: inline;
         }

         &:not(:last-child) {
            margin-bottom: spacing(xxs);

            @include screen(sm) {
               margin-bottom: 0;
            }
         }
      }
   }

   &__body-link {
      color: $color-secondary;

      &:hover {
         color: $color-secondary-dark;
      }
   }

   &__button-area {
      display: flex;
      align-items: center;
      gap: spacing(sm);
      justify-content: center;
      width: 100%;

      @include screen(sm) {
         flex-direction: column-reverse;
         align-items: stretch;
      }
   }

   @include screen(sm) {
      align-items: flex-start;
      text-align: left;
   }
}

